node_modules/
.env
.env*
core
storage
zip
keys/private.txt
keys/generate.js
keys/_revokekey.txt
keys/password.txt
keys/sharedUrl.txt
uploads/*
nftkeys/*
txtkeys/*
tosgx/*
private/*
yarn-error.log
keys/keys.zip
keys/remote.txt
.history/
qrData
tmp
*lock*